numpy
torch
torchinfo
setuptools
prettytable
datasets
PyYAML
urllib3
notebook
jupyter
jupyter-client
jupyter-console
jupyter-core
ipython
ipython-genutils
ipywidgets
matplotlib
seaborn
rich
jsonlines
scikit-learn
dataclasses
